@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');
// Color Variables
$main-color: #ec5f5f;
$white-color: #f8f8f8;
$black-color: #282828;
$grey-color: #c8c8c8;

* {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
html {
	line-height: 1.4;
	scroll-behavior: smooth;
}
body {
	line-height: 1.5;
	overflow-x: hidden;
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.3em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 1em;
	font-weight: 900;
}
a {
	color: $main-color;
}
button {
	cursor: pointer;
	padding: 0.5em 2rem;
	font-weight: 700;
	color: $white-color;
	background: $main-color;
	border-radius: 0.3em;
	font-size: 1rem;
}
form {
	margin: 1em auto;
	input,
	select {
		display: block;
		width: 36rem;
		height: 4rem;
		outline: none;
		border: 1px solid $black-color;
		border-radius: 3px;
		margin-bottom: 1rem;
		padding: 1rem;
	}
	textarea {
		display: block;
		width: 36rem;
		height: 12rem;
		margin-bottom: 1rem;
		outline: none;
		border: 1px solid $black-color;
		border-radius: 3px;
	}
	input[type='submit'] {
		border: none;
		background: $main-color;
		color: $white-color;
		cursor: pointer;
		font-size: 1.6rem;
		font-weight: 700;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
	}
}
header {
	display: flex;
	flex-direction: column;
	.header__top {
		padding: 1em 4rem;
		background: $main-color;
		display: grid;
		grid-template-columns: 15% 1fr auto;
		.logo {
			display: flex;
			flex-direction: column;
			&__text,
			&__slogan {
				color: $white-color;
			}
			&__text {
				margin: unset;
			}
			&__slogan {
				font-size: 0.395rem;
			}
		}
		nav .nav__list {
			display: flex;
			gap: 1em;
			&__item a {
				color: $white-color;
				font-weight: 700;
			}
		}
		.hamburger {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			gap: 0.3em;
			.line {
				width: 1.5em;
				height: 0.1875em;
				background: $white-color;
			}
		}
	}
	.header__bottom {
		padding: 0 4rem;
		background: $black-color;
		display: grid;
		grid-template-columns: 15% 1fr auto;
		.subNav .subNav__list {
			display: flex;
			gap: 0.5em;
			&__item {
				padding: 0.3em 0.3rem;
				transition: 0.3s;
				a {
					color: $white-color;
					font-size: 0.7rem;
					font-weight: 700;
				}
				&:hover {
					background: #222;
				}
			}
			.active {
				background: #222;
			}
		}
	}
}
main {
	max-width: 60em;
	padding: 2em 4rem;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.stories {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 5vw);
	grid-gap: 1em;
	&__content {
		position: relative;
		&--1 {
			grid-column-start: 1;
			grid-column-end: 6;
			grid-row-start: 1;
			grid-row-end: 7;
		}
		&--2 {
			grid-column-start: 6;
			grid-column-end: 9;
			grid-row-start: 1;
			grid-row-end: 3;
		}
		&--3 {
			grid-column-start: 6;
			grid-column-end: 9;
			grid-row-start: 3;
			grid-row-end: 5;
		}
		&--4 {
			grid-column-start: 6;
			grid-column-end: 9;
			grid-row-start: 5;
			grid-row-end: 7;
		}
		&__title {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 0.5em 1rem;
			margin: 0;
			color: $white-color;
			background: linear-gradient(to bottom, transparent, $black-color) no-repeat bottom;
			background-size: 100% 100%;
			border-radius: 0.2em;
		}
	}
}
.news {
	&__heading {
		width: 100%;
		background: $main-color;
		color: $white-color;
		padding: 0.5em 1rem;
		border-radius: 0.3em;
	}
	&__articles {
		display: flex;
		flex-direction: column;
		gap: 1em;
		&__card {
			background: $grey-color;
			border-radius: 0.3em;
			display: grid;
			grid-template-columns: 1fr 2fr;
			grid-gap: 1em;
			&__info {
				padding: 2em 1rem 1em 0;
				position: relative;
				&__tag {
					position: absolute;
					top: 0;
					left: 0;
					font-size: 0.7rem;
					color: $white-color;
					background: $main-color;
					padding: 0.3em 0.6rem;
					border-bottom-left-radius: 0.3em;
					border-bottom-right-radius: 0.3em;
				}
				&__title {
					background: unset;
					color: unset;
					padding: unset;
				}
				&__desc {
					text-align: justify;
					margin-bottom: 1rem;
				}
				&__author a {
					font-weight: 700;
				}
			}
		}
	}
}
.viewMore {
	margin: 0 auto;
}
footer {
	background-color: #111;
	.botNav {
		background-color: $black-color;
		padding: 1em 4rem;
		&__list {
			display: flex;
			gap: 1em;
			&__item a {
				font-size: 0.8rem;
				color: $white-color;
				font-weight: 700;
			}
		}
	}
	.footer {
		padding: 1em 4rem;
		&__logo {
			color: $white-color;
		}
		.footer__content {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			color: $white-color;
			&__address,
			&__contact {
				border-left: 1px solid $grey-color;
				padding-left: 1rem;
			}
		}
	}
}
