@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Noto+Sans:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  font-weight: 900;
}

a {
  color: #ec5f5f;
}

button {
  cursor: pointer;
  padding: 0.5em 2rem;
  font-weight: 700;
  color: #f8f8f8;
  background: #ec5f5f;
  border-radius: 0.3em;
  font-size: 1rem;
}

form {
  margin: 1em auto;
}
form input,
form select {
  display: block;
  width: 36rem;
  height: 4rem;
  outline: none;
  border: 1px solid #282828;
  border-radius: 3px;
  margin-bottom: 1rem;
  padding: 1rem;
}
form textarea {
  display: block;
  width: 36rem;
  height: 12rem;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid #282828;
  border-radius: 3px;
}
form input[type=submit] {
  border: none;
  background: #ec5f5f;
  color: #f8f8f8;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-direction: column;
}
header .header__top {
  padding: 1em 4rem;
  background: #ec5f5f;
  display: grid;
  grid-template-columns: 15% 1fr auto;
}
header .header__top .logo {
  display: flex;
  flex-direction: column;
}
header .header__top .logo__text, header .header__top .logo__slogan {
  color: #f8f8f8;
}
header .header__top .logo__text {
  margin: unset;
}
header .header__top .logo__slogan {
  font-size: 0.395rem;
}
header .header__top nav .nav__list {
  display: flex;
  gap: 1em;
}
header .header__top nav .nav__list__item a {
  color: #f8f8f8;
  font-weight: 700;
}
header .header__top .hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
header .header__top .hamburger .line {
  width: 1.5em;
  height: 0.1875em;
  background: #f8f8f8;
}
header .header__bottom {
  padding: 0 4rem;
  background: #282828;
  display: grid;
  grid-template-columns: 15% 1fr auto;
}
header .header__bottom .subNav .subNav__list {
  display: flex;
  gap: 0.5em;
}
header .header__bottom .subNav .subNav__list__item {
  padding: 0.3em 0.3rem;
  transition: 0.3s;
}
header .header__bottom .subNav .subNav__list__item a {
  color: #f8f8f8;
  font-size: 0.7rem;
  font-weight: 700;
}
header .header__bottom .subNav .subNav__list__item:hover {
  background: #222;
}
header .header__bottom .subNav .subNav__list .active {
  background: #222;
}

main {
  max-width: 60em;
  padding: 2em 4rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.stories {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 5vw);
  grid-gap: 1em;
}
.stories__content {
  position: relative;
}
.stories__content--1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 7;
}
.stories__content--2 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}
.stories__content--3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}
.stories__content--4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}
.stories__content__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5em 1rem;
  margin: 0;
  color: #f8f8f8;
  background: linear-gradient(to bottom, transparent, #282828) no-repeat bottom;
  background-size: 100% 100%;
  border-radius: 0.2em;
}

.news__heading {
  width: 100%;
  background: #ec5f5f;
  color: #f8f8f8;
  padding: 0.5em 1rem;
  border-radius: 0.3em;
}
.news__articles {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.news__articles__card {
  background: #c8c8c8;
  border-radius: 0.3em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
}
.news__articles__card__info {
  padding: 2em 1rem 1em 0;
  position: relative;
}
.news__articles__card__info__tag {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.7rem;
  color: #f8f8f8;
  background: #ec5f5f;
  padding: 0.3em 0.6rem;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
.news__articles__card__info__title {
  background: unset;
  color: unset;
  padding: unset;
}
.news__articles__card__info__desc {
  text-align: justify;
  margin-bottom: 1rem;
}
.news__articles__card__info__author a {
  font-weight: 700;
}

.viewMore {
  margin: 0 auto;
}

footer {
  background-color: #111;
}
footer .botNav {
  background-color: #282828;
  padding: 1em 4rem;
}
footer .botNav__list {
  display: flex;
  gap: 1em;
}
footer .botNav__list__item a {
  font-size: 0.8rem;
  color: #f8f8f8;
  font-weight: 700;
}
footer .footer {
  padding: 1em 4rem;
}
footer .footer__logo {
  color: #f8f8f8;
}
footer .footer .footer__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #f8f8f8;
}
footer .footer .footer__content__address, footer .footer .footer__content__contact {
  border-left: 1px solid #c8c8c8;
  padding-left: 1rem;
}/*# sourceMappingURL=main.css.map */