@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Work Sans", sans-serif;
}
input,
textarea {
  font-family: "Work Sans", sans-serif;
}
html {
  line-height: 1.4;
}
body {
  line-height: 1.5;
  overflow-x: hidden;
  background: #f8f8f8;
  color: #282828;
}
.btn {
  padding: 0.5rem 1rem;
}
.btn-primary {
  background: #ffff00;
  color: #282828 !important;
  font-weight: 500;
}
.btn-secondary {
  background: #282828;
  color: #f8f8f8 !important;
  font-weight: 500;
}
header,
main,
footer {
  padding: 1rem;
}
header {
  background: #ffff00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2rem solid #282828;
}
header h1 {
  font-weight: 900;
}
header nav label,
header nav input {
  display: none;
}
header nav .nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header nav .nav-list .nav-list-item a {
  color: #282828;
  font-weight: 500;
}
.hero {
  height: 40rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero .hero-content .sub-heading {
  color: #c8c8c8;
  font-size: 2rem;
}
.hero .hero-content .heading {
  font-size: 5rem;
}
.hero .hero-content .hero-content-ctas {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero .hero-content .hero-content-ctas .underline-link {
  color: #282828;
  text-decoration: underline;
}
.projects,
.services,
.testimonials,
.hire-me {
  padding: 5rem 1rem;
}
.projects h2,
.services h2,
.testimonials h2 {
  text-align: center;
  margin-bottom: 4rem;
}
.projects,
.testimonials {
  background: #282828;
  margin: -1rem;
}
.projects h2,
.testimonials h2 {
  color: #f8f8f8;
}
.projects-list,
.services-list,
.testimonials-list {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.projects-list-item,
.testimonials-list-item {
  background: #f8f8f8;
}
.services-list-item {
  background: #282828;
}
.projects-list-item-content,
.services-list-item-content,
.testimonials-list-item-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.services-list-item-content {
  color: #f8f8f8;
}
.projects-list-item-content a {
  max-width: 10rem;
  text-align: center;
}
.hire-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hire-me p {
  color: #c8c8c8;
}
.hire-me-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 30rem;
  align-items: flex-end;
}
.hire-me-form-input {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.hire-me-form-input input,
.hire-me-form-input textarea {
  width: 100%;
  border-bottom: 0.05rem solid #282828;
}
.hire-me-form-input input {
  height: 2rem;
}
.hire-me-form-input input,
.hire-me-form-input textarea {
  text-indent: 0.5rem;
}
.hire-me-form button {
  min-width: 10rem;
  cursor: pointer;
}
footer {
  background: #ffff00;
  border-top: 0.2rem solid #282828;
}
